<ion-header>
  <ion-toolbar>
    <ion-title text-center class="pacifico">
      isNOWgram
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="auto-scroll" padding>
  <ion-card>
    <ion-slides (ionSlideChange)="changeFilter()">
      <ion-slide *ngFor="let filter of filters" text-center>
        <img src="{{ picture }}" class="{{ filter }}" style="width: 100%">
        <small>{{ filter }}</small>
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Título da Foto"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Comentário da Foto" rows="3"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <ion-buttons end>
          <button ion-button clear small color="danger" icon-star *ngIf="location == ''" (click)="getLocation()">
            <ion-icon name="pin" padding></ion-icon>
            <small>Informar Localização</small>
          </button>
          <button ion-button clear small color="danger" icon-star *ngIf="location != ''">
            <ion-icon name="pin" padding></ion-icon> {{ location }}
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-card>
  <div padding>
    <button ion-button block large outline>Enviar Foto</button>
  </div>
</ion-content>
