<ion-content class="auto-scroll">
  <ion-grid fixed>
    <ion-row align-itens-center justify-content-center>
      <ion-col col-12 col-sm-12 col-md-4 *ngFor="let picture of pictures" class="animated fadeInUp">
        <ion-card>
          <img src="{{ picture.image }}" alt="{{ picture.title }}" class="{{ picture.filter }}" />
          <ion-card-content>
            <ion-card-title>{{ picture.title }}</ion-card-title>
            <p>{{ picture.message }}</p>
            <p>
              <small>enviada em {{ picture.date | date: 'dd/MM/yyyy HH:mm' }} por
                <strong>{{ picture.user }}</strong>
              </small>
            </p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col>
              <ion-buttons end>
                <button ion-button clear small color="danger" icon-star *ngIf="location != ''" (click)="showLocation(picture.location)">
                  <ion-icon name="pin" padding></ion-icon>
                  <small>Ver no Mapa</small>
                </button>
                <button ion-button clear small color="danger" icon-star *ngIf="location == ''">
                  <ion-icon name="pin" padding></ion-icon> Localização não divulgada
                </button>
              </ion-buttons>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
