@import url('https://fonts.googleapis.com/css?family=Quicksand:300|Pacifico');
ion-content {
  font-family: 'Quicksand', sans-serif;
}

.auto-scroll .scroll-content {
  overflow: auto;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.title {
    font-size: 3em;
    line-height: 3em;    
}
